.padre{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.primer-div{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(red, blue);
    /* background-image: linear-gradient(to top, red, black); */
}
.segundo-div{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to top, red, black);
}
.tercer-div{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to left, red, black);
}
.cuarto-div{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, red, black, yellow);
}
.quinto-div{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(circle, gold,green;)
}