@import "mixins";

$color-fondo: chocolate;
$tipografia: Verdana, Geneva, Tahoma, sans-serif;

header{
    background-color: $color-fondo;
    nav{
        text-align: center;
        // Mediante include, traemos los estilos de flex previamente importados
        @include flex;
        a{
            color: aliceblue;
            font-family: $tipografia;
            text-decoration: none;
            font-size: xx-large;
            &:hover{
                color: black;
                font-weight: 300;
                text-decoration: underline;
            }
        }
    }
}